.user {
    border: none;
    background: #ffffff;
    padding: 5px;
}

.user {
    min-height: 315px;
}

.user .user-title {
    color: #007b5e !important;
}

.user .user-body img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
}